* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Poppins", sans-serif;
  text-decoration-color: black;
  background: hsl(0, 100%, 100%);
  color: rgb(255, 255, 255);
  line-height: 1.6;
}


h1 {
  font-size: calc(20px + 3.5vw);
  font-weight: 800;

}

h2 {
  font-size: calc(18px + 1.6vw);
  font-weight: 700;
}

h3 {
  font-size: calc(16px + 0.45vw);
  font-weight: 600;
}


p {
  font-size: 15px;
  color: hsl(225, 8%, 42%);
}

button {
  background: hsl(0, 0%, 100%);
  color: #fff3f3;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

button:hover {
  background: hsl(0, 0%, 0%);
}


section {
  padding: 60px 0;
}


.card {
  background: #000000;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}


a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}


img {
  max-width: 100%;
  display: block;
}

html {
  font-family: var(--ff-poppins);
  scroll-behavior: smooth;
}



.btn {
  color: var(--white);
  text-transform: uppercase;
  font-size: var(--fs-5);
  border-radius: 100px;
  padding: var(--padding, 8px 18px);
  border: var(--border-width, 2px) solid transparent;
  transition: var(--transition);
}

.btn-primary {
  background: var(--bright-navy-blue);
  border-color: var(--bright-navy-blue);
}

.btn-primary:is(:hover, :focus) {
  background: var(--yale-blue);
  border-color: var(--yale-blue);
}

.h3 {
  font-weight: var(--fw-800);
  font-family: var(--ff-montserrat);
  text-transform: uppercase;
}

.h1 {
  color: var(--white);
  font-size: var(--fs-1);
}



.h3 {
  font-size: var(--fs-3);
  font-weight: var(--fw-700);
}

.section-subtitle {
  color: var(--bright-navy-blue);
  font-size: var(--fs-5);
  text-transform: uppercase;
  font-family: var(--ff-montserrat);
  margin-bottom: 8px;
}


.section-text {
  color: var(--black-coral);
  margin-bottom: 30px;
}

.card-text {
  color: var(--black-coral);
  font-size: var(--fs-5);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 61px;
  z-index: 4;
}

.header-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: var(--transition);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  padding-block: 15px;
  z-index: 1;
}

.header.active .header-top {
  position: fixed;
  background: var(--gunmetal);
}

.header-top .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: flex-start;
  align-items: center;
}


.helpline-box .icon-box {
  background: var(--bright-navy-blue);
  padding: 6px;
  border-radius: 50%;
  color: var(--white);
}



.header-btn-group {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--white);
}


.nav-open-btn {
  font-size: 30px;
  color: inherit;
}


.header-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 15px;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 5px;
}

.social-link {
  color: var(--white);
  padding: 8px;
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  border-radius: 50%;
  font-size: 15px;
  transition: var(--transition);
}



.header .navbar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 100%;
  max-width: 300px;
  height: 100%;
  background: var(--white);
  visibility: hidden;
  pointer-events: none;
  transition: 0.15s ease-in;
  z-index: 3;
}

.navbar.active {
  right: 0;
  visibility: visible;
  pointer-events: all;
  transition: 0.25s ease-out;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 15px;
}



.nav-close-btn {
  font-size: 20px;
  color: var(--bright-navy-blue);
}


.navbar-link {
  padding: 15px 20px;
  color: var(--jet);
  font-weight: var(--fw-500);
  font-size: var(--fs-4);
  transition: var(--transition);
  text-transform: capitalize;
}


.overlay {
  position: fixed;
  inset: 0;
  background: var(black);
  opacity: 0;
  pointer-events: none;
  z-index: 2;
  transition: var(transition);
}

.overlay.active {
  opacity: 0.7;
  pointer-events: all;
}






.hero {
  background-image: url("assets/images/hero-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: hsla(0, 0%, 0%, 0.7);
  background-blend-mode: overlay;
  display: grid;
  place-items: center;
  min-height: 600px;
  text-align: center;
  padding-top: 125px;
}



.hero-text {
  color: var(--white);
  font-size: var(--fs-5);
  margin-bottom: 40px;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}







.tour-search {
  background: var(--bright-navy-blue);
  padding-block: var(--section-padding);
}

.tour-search-form .input-label {
  color: var(--white);
  font-size: var(--fs-4);
  margin-left: 20px;
  margin-bottom: 10px;
}

.tour-search-form .input-field {
  background: var(--white);
  padding: 10px 15px;
  font-size: var(--fs-5);
  border-radius: 50px;
}



.tour-search-form .input-field::-webkit-datetime-edit {
  color: var(--spanish-gray);
  text-transform: uppercase;
}



.tour-search .btn {
  width: 100%;
  --border-width: 1px;
  font-weight: var(--fw-600);
  margin-top: 35px;
}









.popular-card {
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-25);
  height: 430px;
}

.popular-card .card-img { height: 100%; }

.popular-card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popular-card .card-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background: var(--white);
  border-radius: var(--radius-25);
  padding: 20px;
}


.popular-card .card-rating {
  background: var(--bright-navy-blue);
  color: var(--white);
  position: absolute;
  top: 0;
  right: 25px;
  display: flex;
  align-items: center;
  gap: 1px;
  transform: translateY(-50%);
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 14px;
}

.popular-card .card-subtitle {
  color: var(--blue-ncs);
  font-size: var(--fs-6);
  text-transform: uppercase;
  margin-bottom: 8px;
}









.package-card {
  background: var(--cultured);
  overflow: hidden;
  border-radius: 15px;
}


.package-card .card-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.package-card .card-text {
  line-height: 1.6;
  margin-bottom: 20px;
}

.card-meta-list {
  background: var(--white);
  max-width: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 8px;
  box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.15);
  border-radius: 50px;
}



.card-meta-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -1px;
  bottom: 4px;
  width: 1px;
  background: hsla(0, 0%, 0%, 0.3);
}

.meta-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-inline: 9px;
  color: var(--black-coral);
  font-size: var(--fs-8);
}

.meta-box > ion-icon {
  color: var(--bright-navy-blue);
  font-size: 13px;
}

.package-card .card-price {
  background: var(--united-nations-blue);
  color: var(--white);
  padding: 25px 20px;
  text-align: center;
}

.package-card .card-price .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px 15px;
  margin-bottom: 10px;
}



.package-card .card-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  font-size: 14px;
}


.package-card .price {
  font-size: var(fs-2);
  font-family: var(ff-montserrat);
  font-weight: var(fw-800);
  margin-bottom: 20px;
}

.package-card .price span {
  font-size: var(--fs-7);
  font-weight: initial;
}









.gallery-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.gallery-image {
  width: 100%;
  height: 100%;
  border-radius: var(--radius-15);
  overflow: hidden;
}


.gallery-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}







.cta {
  background: var(--bright-navy-blue);
  padding-block: var(--section-padding);
}







.footer-top {
  background: var(--gunmetal);
  padding-block: var(--section-padding);
  color: var(--gainsboro);
}



.footer-text {
  font-size: var(--fs-5);
  line-height: 1.7;
}



.contact-title {
  position: relative;
  font-family: var(--ff-montserrat);
  font-weight: var(--fw-500);
  margin-bottom: 30px;
}

.contact-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 50px;
  height: 2px;
  background: var(--bright-navy-blue);
}

.contact-text {
  font-size: var(--fs-5);
  margin-bottom: 15px;
  max-width: 200px;
}

.contact-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}


.address {
  font-style: normal;
  color: var(--gainsboro);
  font-size: var(--fs-5);
}



.form-text {
  font-size: var(--fs-5);
  margin-bottom: 20px;
}

.footer-form .input-field {
  background: var(--white);
  font-size: var(--fs-5);
  padding: 15px 20px;
  border-radius: 100px;
  margin-bottom: 10px;
}


.footer-bottom {
  --gunmetal: hsl(205, 36%, 17%);
  background: var(--gunmetal);
  padding-block: 20px;
  text-align: center;
}




.go-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
  background: var(--bright-navy-blue);
  color: var(--white);
  display: grid;
  place-items: center;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.5);
  opacity: 0;
  transform: translateY(10px);
  visibility: hidden;
  transition: var(--transition);
}

.go-top.active {
  opacity: 0.8;
  transform: translateY(0);
  visibility: visible;
}







@media (min-width: 580px) {

  

  .container {
    max-width: 580px;
    margin-inline: auto;
  }

  .btn {
    --fs-5: 16px;
    --padding: 12px 30px;
  }

  

  
  .header .btn {
    --fs-5: 14px;
    --padding: 6px 20px;
  }



  
  .hero {
    min-height: 800px;
    padding-top: 85px;
  }

  .hero-text { --fs-5: 15px; }

  .btn-group { gap: 20px; }



  

  .tour-search-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-end;
    gap: 15px;
  }

  

  .tour-search .btn {
    grid-column: span 2;
    margin-top: 20px;
  }



  
  

  

  .footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  
}






@media (min-width: 768px) {


  

  



  

  

  .section-text {
    max-width: 60ch;
    margin-inline: auto;
  }



  

  .helpline-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }

  .helpline-box .wrapper {
    display: block;
    color: var(--white);
    font-size: var(--fs-6);
  }

  


  
  .popular-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 50px;
  }

  


  
  
  .package-card {
    display: grid;
    grid-template-columns: 1.3fr 1.5fr 1fr;
  }

  

  .package-card .card-price {
    display: grid;
    place-content: center;
  }

  


  

  

  .gallery-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  



  

  .cta .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  
  

  .form-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }

  

}







@media (min-width: 992px) {

  
  .container { max-width: 1050px; }



  

  .header.active .header-top {
    position: unset;
    background: unset;
  }

  

  .header.active .header-bottom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--white);
    color: var(--onyx);
    box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.08);
    transition: var(--transition);
  }

  .navbar-list {
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  

  .navbar-link {
    color: var(--white);
    --fs-4: 16px;
    font-weight: unset;
    text-transform: uppercase;
    padding: 20px 15px;
  }

  

  .header.active .social-link {
    color: var(--onyx);
    border-color: hsla(0, 0%, 0%, 0.15);
  }

 



  





  
  .tour-search .btn {
    --padding: 15px;
    grid-column: unset;
    margin-top: 0;
  }



  





   

  .footer-top .container {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }

  
}







@media (min-width: 1200px) {

  
 

    
  


  
  .container { max-width: 1180px; }

}